
  <div style="display:box; background-color:#F5F5F5; 
             padding-bottom:400px; padding-top:60px;
            border-radius: 25px; margin-left: auto;
    			  margin-right: auto;	
    			  width: 100%;
">
<div class="head2">
<center><h1 class="top-op">Git-This.Com</h1><br/><h3 style="color:grey; font-family: Comic Sans MS; ">PDFBooks Relm</h3>
  </center>
<!--  <p class="top-op" style="float:left; margin-top:10px; margin-left:16px;"><%= link_to "Options", '#' %></p> -->
  <%if current_user and current_user.role =="admin"%>
          <p class="top-op" style="float:right;  margin-top:10px; margin-left:16px;"> <%= link_to "New", new_main_category_path %> </p>
  <%elsif current_user%>
          <p class="top-op" style="float:right;  margin-top:10px; margin-left:16px; margin-right:10px;"> <%= link_to "Purchases", user_purchases_path(current_user.id) %> </p>
  <%end%>
</div> 
    
    
<div class="div1" >
 
   <%a = []%>
  <%MainCategory.all.each do |num| %>
  <% a << num.id   %>
  <%end%><br/>
  
  <% m3 = a.length / 3 -1 %>
  <% ab = a[0..a.length / 3 - 1]%>
  <% b = a[m3+1..m3*2+1]%>
  <% c = a[m3*2+2..m3*3+2]%>
  
<%    %>

  <div class="row" style="margin-left:auto; margin-right:auto; width:100%;">
          <div class="col-md-4">

            <% MainCategory.find(ab).each do |cat| %>
                        <%if current_user and current_user.role == "admin"%>
                              <p class="main"><%=link_to cat.title, main_category_path(cat.id) %><%=link_to "admin", edit_main_category_path(cat.id)%></p>
                        <%else%>
                             <p class="main"><%=link_to cat.title,main_category_path(cat.id) %></p>
                        <%end%>

                              <%cat.sub_categories.each do |scat| %>
                                                                <p class='sub' style=""><%# scat.avatar.url ? image_tag( scat.avatar.url ) : "" %>
                                                        <table style="width:100%">
                                                                <tr> 
                                                            <%if scat.avatar.url%>
                                                                
                                                                     <td> <img src="<%= scat.avatar.url %>"  width="42" height="42">
                                                            <%end%>
                                                                      <td> <%=link_to scat.title, scat %>
                                                                 </tr>
                                                          </table>              
                                                                    </p>
                                                               
                                                      <%end%>
                      <% end   %>
           </div>
          
    
          <div class="col-md-4">
 

                    <% MainCategory.find(b).each do |cat| %>
                        <%if current_user and current_user.role == "admin"%>
                              <p class="main"><%=link_to cat.title, main_category_path(cat.id) %><%=link_to "Admin", edit_main_category_path(cat.id)%></p>
                        <%else%>
                             <p class="main"><%=link_to cat.title,main_category_path(cat.id) %></p>
                        <%end%>

                              <%cat.sub_categories.each do |scat| %>
                                                                <p class='sub' style=""><%# scat.avatar.url ? image_tag( scat.avatar.url ) : "" %>
                                                        <table style="width:100%">
                                                                <tr> 
                                                            <%if scat.avatar.url%>
                                                                
                                                                     <td> <img src="<%= scat.avatar.url %>"  width="42" height="42">
                                                            <%end%>
                                                                      <td> <%=link_to scat.title, scat %>
                                                                 </tr>
                                                          </table>              
                                                                    </p>
                                                               
                                                      <%end%>
                    <% end   %>
           </div>
           <div class="col-md-4">
 

                    <% MainCategory.find(c).each do |cat| %>
                        <%if current_user and current_user.role == "admin"%>
                              <p class="main"><%=link_to cat.title, main_category_path(cat.id) %><%=link_to "Admin", edit_main_category_path(cat.id)%></p>
                        <%else%>
                             <p class="main"><%=link_to cat.title,main_category_path(cat.id) %></p>
                        <%end%>

                              <%cat.sub_categories.each do |scat| %>
                                                                <p class='sub' style=""><%# scat.avatar.url ? image_tag( scat.avatar.url ) : "" %>
                                                        <table style="width:100%">
                                                                <tr> 
                                                            <%if scat.avatar.url%>
                                                                
                                                                     <td> <img src="<%= scat.avatar.url %>"  width="42" height="42">
                                                            <%end%>
                                                                      <td> <%=link_to scat.title, scat %>
                                                                 </tr>
                                                          </table>              
                                                                    </p>
                                                               
                                                      <%end%>
                    <% end   %>
           </div>

</div> 
       </div> 




    </div>

 
  
  
  
  
