<script>
        function validateForm() {
                                    var x = document.forms["editItem"]["item_product"].value;
                                    
          
                                      if (x == null || x == "") {
                                                                   
                                                                    return true;
                                                                }
          
                                    else if ( x.slice(-3) !== "pdf"  ) { 
                                                                          alert("Book must be in  pdf format");
                                                                          return false;
                                                                        }
                                }
</script>
 <h1>Edit Item</h1>
 
 <div class="row">
   <div class="col-md-4" style="dispay:block;">
     <p>Guidelines : none</p>

   </div>
   <div class="col-md-8">
     <%= form_for [@scategory, @item], :html => { :onsubmit => 'return validateForm()', :name => 'editItem' } do |f| %>
       <div class="form-group">
         <%= f.label :name %>
         <%= f.text_field :name, class: 'form-control', placeholder: "Enter Item name" %>
       </div>
       <div class="form-group">
         <%= f.label :body %>
         <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter category body"  %>
       </div>
    
        <div class="form-group">
          <%= f.label :price %>
          <%= f.text_area :price, rows: 1, class: 'form-control', placeholder: "price" %>
       </div>
     
     <%# image_tag( @item.avatar.url ) %>
    <div class="form-group">
         <%# f.label "Product" %>
         <%# f.file_field :avatar %>
         <%# f.hidden_field :avatar_cache %>
   </div>
   
    <div class="form-group">
      <%= f.label "Product" %>
      <%= f.file_field :product %>
      <%= f.hidden_field :product_cache %>
   </div>

       <div class="form-group">
         <%= f.submit "Save", class: 'btn btn-success' %>
         <%= link_to "Delete Item", [@scategory, @item] , method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this category?' } %> 
       </div>
     <% end %>
   <% @item.item_pics.each do |pic|%>
   <div style="display:inline;">
     <%=link_to image_tag(pic.avatar.url, size: "50"), edit_item_item_pic_path(@item.id, pic.id) %>
     </div>
   <%end%>
   
    <%= render 'item_pics/newpics' %>
   
   </div>




















